<div fxLayout="row" fxLayoutAlign="center center" class="app-container about-container">
  <div fxFlex.lt-sm="90vw" fxFlex="65vw" fxFlex.gt-md="50vw" fxFlexAlign="center center">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="64px">
      <div class="portrait"></div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <h1>I’ve been exploring immersive environments since the late 1980s.</h1>
        <h1>Now the technology is sufficiently advanced, let’s make the magic happen.</h1>
      </div>
    </div>
  </div>
</div>
