<div fxLayout="column" class="app-container contact-container" fxLayoutAlign="center center">
  <div fxFlex class="spacer"></div>
  <div fxFlex="0 0 auto">
    <h1 class="hitme">Hit me up on</h1>
  </div>
  <div fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center" class="hitme">
      <div class="spacer"></div>
      <a mat-raised-button fxFlexAlign="center" fxFlex="0 0 auto" href="https://www.linkedin.com/in/mrjonrowe">
        <img fxFlex class="linkedin" src="../../assets/images/Logo-2C-128px-TM.png">
      </a>
      <div class="spacer"></div>
  </div>
  <div fxFlex class="spacer"></div>
</div>
