
:host {
  width: 100%;
  height: 100%;
  position: absolute;
}

/*.linkedin-image{*/
  /*height: 100vh;*/
  /*background-color: black;*/
  /*background: url("../../assets/images/Logo-2C-128px-TM.png") no-repeat;*/
  /*background-size: 100%;*/
  /*background-position: center;*/
/*}*/
