mat-sidenav-container {
  /*height: calc(100vh - 65px);*/
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top:0;
  /*z-index: -1;*/
}

.sidenav-menu{
  background-color: whitesmoke !important;
}

mat-toolbar {
  position: absolute;
  left: 0;
  top:16px;
  z-index: 1;
  /*border:1px dotted red;*/
}

.toolbar-vertical-spacer{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 16px;
  background-color: whitesmoke;
  z-index: 2;
}

/*div{*/
  /*border:1px dotted;*/
/*}*/

.logo-container{
  min-height: 75px;
}

.menu-layout-container{
  padding-top: 80px;
  height: 100%;
}

.toolbar-container {
  width: 100vw;
  /*max-width: 960px;*/
  overflow: hidden;
}

mat-ink-bar{
  height: 7px !important;
  /*background-color: #ff4081 !important;*/
}

.mat-tab-nav-bar{
  border: 0px !important;
}

a:focus, a:hover{
  color: #000 !important;
  text-decoration: none !important;
  background-color: #00000000 !important;
}

a{
  font-size: 18px !important;
  font-weight: 300 !important;
  height: 78px !important;
  min-width: 110px !important;
}

.mat-toolbar-single-row{
  height: 80px !important;
}

.mat-button{
  font-size: 26px !important;
}

.regular{
  font-size: 26pt !important;
}

.light-italic{
  /*font-family: "nimbus-sans",sans-serif;*/
  font-style: italic !important;
  font-weight: 300 !important;
}


.light{
  font-weight: 300 !important;
}

.hamburger{
  font-size: 48px;
}


.menu-vertical-spacer{
  flex: 0 0 10px;
}
