<mat-sidenav-container>

  <mat-sidenav #sidenav mode="push" class="sidenav-menu">
    <!-- sidenav content -->
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap.lt-md="0px" fxLayoutGap="12px" class="menu-layout-container">

      <button fxFlex="0 1 auto" mat-button (click)="navigateToRoute('home'); sidenav.close()">HOME</button>
      <button fxFlex="0 1 auto" mat-button (click)="navigateToRoute('contact'); sidenav.close()">CONTACT</button>
    </div>
  </mat-sidenav>

  <router-outlet></router-outlet>

</mat-sidenav-container>

<mat-toolbar>

  <div fxLayout="row" fxLayoutAlign="center center" class="toolbar-container">

    <div fxFlex="200px"></div>

    <div fxFlex="0 0 auto">
      <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="start baseline">
        <h1 fxFlex class="regular">Jon Rowe</h1>
        <div fxFlex="20px" fxFlex.lt-lg="0px"></div>
        <h4 fxFlex class="light-italic">Pioneering Synthetic Realities</h4>
      </div>
    </div>

    <div fxFlex="1 1 auto"></div>

    <div fxFlex="0 0 auto">
      <nav mat-tab-nav-bar>
        <a mat-tab-link
           *ngFor="let link of navLinks"
           [routerLink]="link.path"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          {{link.label}}
        </a>
      </nav>
    </div>

    <div fxFlex="200px"></div>

  </div>
</mat-toolbar>

