mat-sidenav-container {
  /*height: calc(100vh - 65px);*/
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top:0;
  /*z-index: -1;*/
}

mat-toolbar {
  position: absolute;
  left: 0;
  top:0;
  z-index: 1;
}

.menu-layout-container{
  padding-top: 80px;
  height: 100%;
}

.toolbar-container {
  width: 100vw;
}

mat-ink-bar{
  height: 7px !important;
  /*background-color: #ff4081 !important;*/
}

.mat-tab-nav-bar{
  border: 0px !important;
}

a:focus, a:hover{
  color: #000 !important;
  text-decoration: none !important;
  background-color: #00000000 !important;
}

a{
  font-size: 26px !important;
  font-weight: 300 !important;
  height: 78px !important;
}

.mat-toolbar-single-row{
  height: 80px !important;
}

.regular{
  font-size: 30pt !important;
}

.light-italic{
  /*font-family: "nimbus-sans",sans-serif;*/
  font-style: italic !important;
  font-weight: 300 !important;
}
