<div fxLayout="column" fxLayoutAlign="center center" class="app-container project-container">

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="app-container project-container">

    <div class="content-area" *ngIf="project$ | async as project" fxFlex  fxFlexAlign="center center">
      <div class="" fxFlex="100vw" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="start center" fxLayoutAlign="center center">
        <div fxFlex="0 1 auto" class="img-area" fxFlexOffset.lt-sm="120px">
          <img  src="{{project.imageUrl}}" class="square-image">
        </div>

        <app-project-detail class="project-detail" [project]="project" fxFlex="1 0 auto"></app-project-detail>

      </div>
    </div>

  </div>

  <div fxFlex="100px" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="16px">
    <div fxFlex class="chip" [ngClass]="selectedId == project.id ? 'alpha1' : 'alpha05'" (click)="onClick(project.id)" *ngFor="let project of projectList | async"></div>
  </div>

</div>

